*{
    margin:0;
    padding:0;
}

h2 {
    height: 1em;
    align-items: center;
    color: rgb(236, 222, 16);
    padding: 0.5em;
}

.grid-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-size: 0.9em;
    color: white;
}

.cabecera {
    padding: 5px;
    background-color: blue;
    display: flex;
}

img {
    width: 180px;
    align-items: center;

}

.titulo {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 12, 31);
    width: 100%;
    text-align: center;
}

p {
    padding: 5px;
}

.detalle{
    padding: 1em;
}


.educacion {
    padding: 8px;
    background-color: rgb(87, 87, 173);
}

.experiencias {
    padding: 8px;
    background-color: rgb(78, 165, 223);
}

.skills {
    padding: 8px;
    background-color: rgb(19, 10, 70);
}

.expectativas {
    padding: 8px;
    background-color: rgb(5, 29, 66);
}

ul {
    padding: 18px;
}

.meta{
    background: url(meta.png) no-repeat center;
    background-size: cover;
}